*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-color: #296c94;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}


.button6 {
  position: absolute;
  padding: 2vw 1vw;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 1.5vw;
  color: #C4902A;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
    inset 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.25s ease;
  border-width: 2px;
  border-style: solid;
  border-color: #C4902A;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.button5 {
  position: absolute;
  padding: 2vw 3vw;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  font-size: 1.5vw;
  color: #C4902A;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
    inset 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.25s ease;
  border-width: 2px;
  border-style: solid;
  border-color: #C4902A;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.button5:hover,
.button6:hover {
  box-shadow:
  0 5px 5px -5px rgba(255, 215, 0, 0.15),
  0 10px 10px -5px rgba(255, 215, 0, 0.15),
  0 15px 15px -5px rgba(255, 215, 0, 0.15),
  0 20px 20px -5px rgba(255, 215, 0, 0.15),
  inset 0px 4px 6px rgba(0, 0, 0, 0.2);
}



#comunicados {
  top: 35%;
  left: 3%;
  width: 15vw;
}

#calendario {
  top: 50%;
  left: 3%;
  width: 15vw;
}

#links {
  top: 66%;
  left: 3%;
  width: 15vw;
}

.background-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

img {
  width: 100%;
  height: auto;
}

.custom-alert {
  display: none;
  position: fixed;
  z-index: 1000222;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
  background-color: white;
  padding: 20px;
  margin: 15% auto;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-alert-close {
  color: red;
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.custom-alert-close:hover {
  color: darkred;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* Cards de Comunicados */
.card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  z-index: 1001;
  max-height: 90%;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.card.active {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

/* Cabeçalho do Card */
.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card header h2 {
  font-size: 24px;
  color: #921d1d;
  display: flex;
  align-items: center;
}

.card header h2 .icon {
  margin-right: 10px;
  font-size: 28px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #000;
}

/* Conteúdo do Card */
.card p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Histórico de Comunicados */
.historico-section {
  margin-bottom: 20px;
}

.historico-section h3 {
  font-size: 20px;
  color: #921d1d;
  margin-bottom: 10px;
}

.historico-section ul {
  list-style: none;
}

.historico-section ul li {
  background-color: #f0f4f8;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: background-color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.historico-section ul li:hover {
  background-color: #dce6f1;
}

.historico-section ul li a {
  text-decoration: none;
  color: #921d1d;
  font-weight: 500;
  flex: 1;
}

/* Navegação entre Cards */
.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.navigation button {
  background-color: #921d1d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  flex: 1 1 45%;
  min-width: 150px;
}

.navigation button:hover {
  background-color: #921d1d;
  transform: translateY(-2px);
}

/* Resumo do Comunicado */
#resumo-card {
  width: 60%;
  max-width: 600px;
}

/* Barra de Busca */
.search-container {
  margin: 20px;
  text-align: center;
}

.search-container input {
  width: 80%;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #296c94;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-container input:focus {
  outline: none;
  border-color: #921d1d;
}

/* Estilos da Barra de Rolagem para WebKit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #921d1d;
  border-radius: 10px;
}



::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}



.popup {
  display: none;
  position: fixed;
  z-index: 1003;
  top: 20px;
  left: 20px;
  background-color: white;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pulsate 1s infinite;
}

.popup-content {
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

.popup-btn {
  background-color: #921d1d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Efeito de pulsação */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.popup-custom {
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 25px;
}



.tree {
  position: absolute;
  top: 135px; /* Valor fixo em pixels */
  left: 84%; /* Ainda pode ser responsivo na horizontal */
  transform: translate(-50%, -50%);
  max-width: 20vw;
}

/* Posicionamento das caixas */
.boxes {
  position: absolute;
  top: 68vh;
  left: 85vw;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
}


/* A estrela no topo da árvore */
.star {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(49% 0,
      61% 30%,
      100% 35%,
      71% 57%,
      80% 90%,
      47% 67%,
      20% 90%,
      30% 56%,
      1% 36%,
      37% 30%);
  background-color: #f7c600;
  filter: drop-shadow(0 0.1rem 0.3rem rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 0.1rem 0.3rem rgba(0, 0, 0, 0.9));
  position: relative;
  z-index: 100;
}

/* Os triangulos dentro da estrela */
.mini__star {
  position: absolute;
}

.mini__star--1 {
  width: 2.5rem;
  height: 4.2rem;
  top: 0.1rem;
  left: 53%;
  clip-path: polygon(36% 0, 0 70%, 40% 100%);
  transform: translateX(-50%);
  background-color: #ffea00;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.mini__star--2 {
  width: 7.5rem;
  height: 2.1rem;
  top: 43%;
  right: 0.2rem;
  background-color: #ffea00;
  clip-path: polygon(48% 0, 40% 61%, 100% 15%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mini__star--3 {
  background-color: #ffea00;
  width: 4.2rem;
  height: 5rem;
  clip-path: polygon(81% 12%, 42% 0, 100% 75%);
  bottom: 0;
  right: 2.3rem;
}

/* Triangulos que compõem a árvore de natal */
.triangle__1 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 10rem;
  height: 10rem;
  background-color: #5bcf64;
  margin-top: -4.2rem;
  position: relative;
  z-index: 10;
}

.shadow__1 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 10rem;
  height: 10rem;
  background-color: rgba(10, 117, 99, 0.876);
  margin-top: -14.3rem;
  transform: translateY(5rem);
  -webkit-transform: translateY(5rem);
  -moz-transform: translateY(5rem);
  -ms-transform: translateY(5rem);
  -o-transform: translateY(5rem);
}

.triangle__2 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 15rem;
  height: 15rem;
  background-color: #00af00;
  right: 50%;
  top: 70%;
  position: absolute;
  z-index: -1;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.shadow__2 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 15rem;
  height: 15rem;
  background-color: rgba(10, 117, 99, 0.876);
  top: 77%;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  position: absolute;
  z-index: -2;
}

.triangle__3 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 20rem;
  height: 15rem;
  background-color: #5bcf64;
  right: 50%;
  top: 125%;
  position: absolute;
  z-index: -3;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.shadow__3 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 20rem;
  height: 15rem;
  background-color: rgba(10, 117, 99, 0.876);
  top: 131%;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  position: absolute;
  z-index: -4;
}

.triangle__4 {
  clip-path: polygon(0 71%, 48% 0, 100% 71%, 67% 73%, 49% 100%, 28% 71%);
  width: 25rem;
  height: 15rem;
  background-color: #00af00;
  right: 50%;
  top: 180%;
  position: absolute;
  z-index: -5;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

/* Caule da árvore */
.post__container {
  position: absolute;
  top: 32rem;
  left: 2.7rem;
  display: flex;
  z-index: -10;
}

.post__1 {
  height: 10rem;
  width: 2rem;
  background-color: #9b4f2c;
  border-radius: 0 0 0 5rem;
  -webkit-border-radius: 0 0 0 5rem;
  -moz-border-radius: 0 0 0 5rem;
  -ms-border-radius: 0 0 0 5rem;
  -o-border-radius: 0 0 0 5rem;
}

.post__2 {
  height: 10rem;
  width: 2rem;
  background-color: #c78100;
  border-radius: 0 0 5rem 0;
  -webkit-border-radius: 0 0 5rem 0;
  -moz-border-radius: 0 0 5rem 0;
  -ms-border-radius: 0 0 5rem 0;
  -o-border-radius: 0 0 5rem 0;
}

.post__shad {
  position: absolute;
  top: 0rem;
  width: 7rem;
  height: 5rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  background-color: rgba(10, 117, 99, 0.411);
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  transform: translateX(-21%);
  -webkit-transform: translateX(-21%);
  -moz-transform: translateX(-21%);
  -ms-transform: translateX(-21%);
  -o-transform: translateX(-21%);
}

/* Recipiente da árvore */
.ball {
  position: absolute;
  bottom: -3rem;
  width: 14rem;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: -20;
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -o-transform: translateX(-30%);
}

/* Enfeites do corpo da árvore */
.sticker {
  width: 2rem;
  height: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  left: 2rem;
  top: 5rem;
}

.sticker__4 {
  width: 5rem;
  height: 2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  right: 5rem;
  top: 5rem;
}

.sticker__5 {
  width: 5rem;
  height: 2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  left: 5rem;
  top: 10rem;
}

.sticker__6 {
  width: 4rem;
  height: 2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  left: 5rem;
  top: 7rem;
}

.sticker__7 {
  width: 2rem;
  height: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  left: 3rem;
  top: 7rem;
}

.sticker__8 {
  width: 4rem;
  height: 2rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #19381c2c;
  position: absolute;
  right: 5rem;
  top: 7rem;
}

.sticker__9 {
  width: 2rem;
  height: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #3c523e2c;
  position: absolute;
  right: 3rem;
  top: 7rem;
}

/* Bolas coloridas na árvore */
.light {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #be0909;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
}

.light--1 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #ffd700;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  z-index: 100;
}

.light--2 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #ffd700;
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  z-index: 100;
}

.light--4 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #be0909;
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  z-index: 100;
}

.light--5 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #8314b9;
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  z-index: 100;
}

.light--6 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #ffffff;
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -moz-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  -o-transform: translate(-50%, -30%);
  z-index: 100;
}

.light--3 {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #ffd700;
  position: absolute;
  top: 65%;
  right: 45%;
}

/* Caixas de presentes */


.box {
  position: relative;
}

.box--1 {
  position: relative;
  margin-left: 5rem;
}

.box--2 {
  position: absolute;
  margin-left: 5rem;
  top: 6rem;
  left: 4rem;
}

/* corpo da caixa */
.body {
  width: 12rem;
  height: 7rem;
  clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 99%);
  position: relative;
  background-color: #fff;
}

/* Tampa da caixa */
.cover {
  width: 15rem;
  height: 2rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 0.2rem;
  clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
  transform: translateX(-1.5rem);
  -webkit-transform: translateX(-1.5rem);
  -moz-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  -o-transform: translateX(-1.5rem);
}

.body::before,
.cover::before,
.cover::after,
.body::after {
  position: absolute;
  content: ' ';
  top: 0;
  width: 35%;
  height: 100%;
}

.body::before {
  left: 0;
  background-color: #7e470b;
}

.body::after {
  right: 0;
  background-color: #7e470b;
}

.body--1::before {
  left: 0;
  background-color: #b93a14;
}

.body--1::after {
  right: 0;
  background-color: #b93a14;
}

.body--2::before {
  left: 0;
  background-color: #1492b9;
}

.body--2::after {
  right: 0;
  background-color: #1492b9;
}

.cover::before {
  background-color: #ffd700;
  left: 0;
}

.cover::after {
  background-color: #ffd700;
  right: 0;
}

.cover--1::before {
  background-color: #ffa600;
  left: 0;
}

.cover--1::after {
  background-color: #ffa600;
  right: 0;
}

.cover--2::before {
  background-color: #56cef3;
  left: 0;
}

.cover--2::after {
  background-color: #56cef3;
  right: 0;
}

/* Prato da caixa */
.plate {
  position: absolute;
  top: 5rem;
  right: 0rem;
  width: 19rem;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* Pega da caixa */
.hold {
  width: 5rem;
  height: 2rem;
  border-radius: 5rem 5rem 0 0;
  -webkit-border-radius: 5rem 5rem 0 0;
  -moz-border-radius: 5rem 5rem 0 0;
  -ms-border-radius: 5rem 5rem 0 0;
  -o-border-radius: 5rem 5rem 0 0;
  border: 3px solid #ffd700;
  position: absolute;
  top: -2rem;
  left: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.hold--1 {
  border: 3px solid #ffa600;
}

.hold--2 {
  border: 3px solid #56cef3;
}

/* Animação das caixas */
.anime {
  animation: light 1s ease backwards infinite;
  -webkit-animation: light 1s ease backwards infinite;
}

.light--1 {
  animation: light 1s ease 1.3s backwards infinite;
  -webkit-animation: light 1s ease 1.3s backwards infinite;
}

.light--2 {
  animation: light 1s ease 1.6s backwards infinite;
  -webkit-animation: light 1s ease 1.6s backwards infinite;
}

.light--3 {
  animation: light 1s ease 1.9s backwards infinite;
  -webkit-animation: light 1s ease 1.9s backwards infinite;
}

.light--4 {
  animation: light 1s ease 2.2s backwards infinite;
  -webkit-animation: light 1s ease 2.2s backwards infinite;
}

.light--5 {
  animation: light 1s ease 2.6s backwards infinite;
  -webkit-animation: light 1s ease 2.6s backwards infinite;
}

.light--6 {
  animation: light 1s ease 2.9s backwards infinite;
  -webkit-animation: light 1s ease 2s backwards infinite;
}

@keyframes light {
  0% {
    background-color: #ffa600;
  }

  25% {
    background-color: #56cef3;
  }

  50% {
    background-color: #b93a14;
  }

  75% {
    background-color: #fff;
  }

  100% {
    background-color: #8314b9;
  }
}

/* Animação do texto */
@keyframes appear {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

/* Animação das caixas */
@keyframes movein {
  0% {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.animate--1 {
  animation: movein 0.2s ease-in-out 1s backwards;
  -webkit-animation: movein 0.2s ease-in-out 1s backwards;
}

.animate--2 {
  animation: movein 0.2s ease-in-out 1.3s backwards;
  -webkit-animation: movein 0.2s ease-in-out 1.3s backwards;
}

.animate--3 {
  animation: movein 0.2s ease-in-out 1.1s backwards;
  -webkit-animation: movein 0.2s ease-in-out 1.1s backwards;
}


/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 2em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

  