  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }


  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-color: #663399;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
  }

  .button6 {
    padding: 2vw 1vw;
    border: none;
    outline: none;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5vw;
    color: #162c49;
    background: #fbfafa;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    text-align: center;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-sizing: border-box;
    min-width: 120px;
    max-width: 100%;
  }

  .button6:before {
    content: "";
    background: linear-gradient(45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .button6:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0efef;
    left: 0;
    top: 0;
    border-radius: 10px;
  }


  #comunicados {
    top: 35%;
    left: 3%;
    width: 15vw;
  }

  #calendario {
    top: 50%;
    left: 3%;
    width: 15vw;
  }

  #links {
    top: 66%;
    left: 3%;
    width: 15vw;
  }

  .background-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: auto;
  }

  .custom-alert {
    display: none;
    position: fixed;
    z-index: 1000222;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .custom-alert-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .custom-alert-close {
    color: #162c49;
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }

  .custom-alert-close:hover {
    color: #663399;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1000;
    transition: opacity 0.3s ease;
  }

  .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: linear-gradient(145deg, #ffffff, #f8f9fa);
    width: 80%;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    z-index: 1001;
    max-height: 90%;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.9s ease-out, opacity 0.9s ease-out, visibility 0.9s;
  }

  .card.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }


  .card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .card header h2 {
    font-size: 26px;
    color: #663399;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .card header h2 .icon {
    margin-right: 10px;
    font-size: 28px;
    color: #663399;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease, transform 0.3s;
  }

  .close-btn:hover {
    color: #663399;
    transform: scale(1.2);
  }

  .card p {
    font-size: 17px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .historico-section {
    margin-bottom: 20px;
  }

  .historico-section h3 {
    font-size: 15px;
    color: #663399;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .historico-section ul {
    list-style: none;
  }


  .historico-section ul li {
    background: linear-gradient(145deg, #f0f4f8, #e4ebf1);
    padding: 12px 20px;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .historico-section ul li:hover {
    background-color: #663399;
    transform: scale(1.02);
  }

  .historico-section ul li a {
    text-decoration: none;
    color: #4a2074;
    font-weight: 600;
    flex: 1;
  }

  .historico-section ul li.new {
    position: relative;
    animation: glowing 2s linear infinite;
    border-radius: 10px;
  }

  .historico-section ul li.new:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    border-radius: 14px;
  }

  .historico-section ul li.new:hover:before,
  .historico-section ul li.new:active:before {
    opacity: 1;
  }


  .historico-section ul li.new:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #edecec;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -1;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }


  .navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  .navigation button {
    background: linear-gradient(145deg, #663399, #663399);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1 1 45%;
    min-width: 150px;
    text-transform: uppercase;
  }

  .navigation button:hover {
    background: linear-gradient(145deg, #9052cd, #9052cd);
    transform: translateY(-3px);
  }


  #resumo-card {
    width: 60%;
    max-width: 600px;
  }


  .search-container {
    margin: 20px;
    text-align: center;
  }

  .search-container input {
    width: 80%;
    max-width: 400px;
    padding: 12px 18px;
    border: 2px solid #C4902A;
    border-radius: 30px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .search-container input:focus {
    outline: none;
    border-color: #663399;
    box-shadow: 0 0 8px rgba(146, 29, 29, 0.3);
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #663399, #663399);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }


  .popup {
    display: none;
    position: fixed;
    z-index: 1003;
    top: 20px;
    left: 20px;
    background-color: white;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(167, 1, 213, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pulsate 1s infinite;
  }

  .popup-content {
    position: relative;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #555;
    cursor: pointer;
  }

  .popup-btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #162c49;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
  }

  .popup-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
    border-radius: 14px;
  }


  .popup-btn:hover:before,
  .popup-btn:active:before {
    opacity: 1;
  }


  .popup-btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #edecec;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -1;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .popup-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }
  .popup-custom {
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    padding: 25px;
  }

  .button-patch {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #C4902A;
    color: #162c49;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: background-color 0.3s ease;
  }



  .button-patch:before {
    content: "";
    background: linear-gradient(45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .button-patch:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0efef;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  /* Posicionamento do novo botão */
  #ramais {
    top: 1;
    left: 86%;
    width: 7vw;
  }

  /* Estilos para a lista de ramais */
  .directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 0 20px;
  }

  .employee-card {
    background: linear-gradient(145deg, #f0f4f8, #e4ebf1);
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .employee-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(102, 51, 153, 0.2);
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(135deg, #8e44ad 0%, #663399 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  .employee-info {
    flex: 1;
  }

  .employee-name {
    font-size: 15px;
    color: #663399;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .employee-extension {
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .button5:hover,
  .button6:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(196, 144, 42, 0.2),
      inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .button-patch:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25),
      0 3px 6px rgba(0, 0, 0, 0.15);
  }